/* Global Styles */
:root {
  --primary-color: #ffffff;
  --secondary-color: #010000;
  --hover-color: #333;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--hover-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.31rem 2.13rem;
  background-color: var(--secondary-color);
}

.logo img {
  height: 51px;
  width: 57.11px;
}

.hamburger-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-nav {
  display: none; /* Will be shown on larger screens with media query */
  gap: 20px; /* Space between navigation links */
}

.menu-dropdown {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 0, 0, 0.95);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  gap: 20px; /* Space between items */
}

.menu-content a {
  padding: 10px 15px;
  color: var(--primary-color);
  font-size: 2.8125rem;
  text-align: center; /* Center the text of each item */
  width: 100%; /* Make each item take the full width of the container */
}

.menu-content a:hover {
  background-color: var(--hover-color);
}

.close-menu img {
  position: absolute;
  top: 1.98rem;
  right: 2.17rem;
  font-size: 2.5rem;
}

.menu-dropdown.open {
  display: flex;
}

/* Hero Section */
.hero {
  margin: 3.88rem 2.62rem 0rem 2.08rem;
  text-align: center;
}

.hero h1 {
  text-align: left;
  color: var(--primary-color);
  font-size: 2.8125rem;
  font-weight: 300;
}

.line-mobile {
  height: 2px;
  background-color: var(--primary-color);
  margin: 1.19rem 0rem 0rem 0rem;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin: 2.25rem 0rem 0rem 0rem;
  gap: 0.62rem;
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

/* Portfolio Section */
.portfolio h2{
  display: none;
}

.portfolio p {
  margin: 2.25rem 2.44rem 0rem 2.06rem;
  text-align: left;

}

/* Responsive Styles */
@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  /* Add other tablet-specific styles here */
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Hero Section */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .image-grid div {
    margin: 0;
  }

  /* Add other desktop-specific styles here */
}
