/* Global Styles */
html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #010000;
  --hover-color: #333;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--hover-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.31rem 2.13rem;
  background-color: var(--secondary-color);
}

.logo img {
  height: 51px;
  width: 57.11px;
}

.hamburger-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-nav {
  display: none; 
  gap: 20px; 
}

.menu-dropdown {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 0, 0, 0.95);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px; 
}

.menu-content a {
  padding: 10px 15px;
  color: var(--primary-color);
  font-size: 2.8125rem;
  text-align: center; 
  width: 100%;
}

.menu-content a:hover {
  background-color: var(--hover-color);
}

.close-menu img {
  position: absolute;
  top: 1.98rem;
  right: 2.17rem;
  font-size: 2.5rem;
  padding-right: 10px;
}

.menu-dropdown.open {
  display: flex;
}

/* Hero Section */
.hero {
  margin: 3.88rem 2.62rem 0rem 2.08rem;
}

.section-title {
  text-align: left;
  color: var(--primary-color);
  font-size: 2.8125rem;
  font-weight: 300;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -1.19rem; 
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
}

.image-grid {
  display: flex;
  justify-content: center;
  margin: 2.25rem 0rem 0rem 0rem;
  gap: 0.62rem;
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

/* Portfolio Section */
.portfolio h2 {
  display: none;
}

.portfolio p {
  margin: 2.25rem 2.44rem 0rem 2.06rem;
  text-align: left;
}

/* Meine Arbeiten Section */
.meine-arbeit {
  margin: 8.88rem 2.62rem 0rem 2.08rem;
  padding-right: 20px;
}

.work-description p {
  display: none;
}

.artwork-gallery {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  margin: 3.5rem 0rem 0rem 0rem;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

.artwork-gallery::-webkit-scrollbar {
  height: 5px;
}

.artwork-gallery::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.artwork-gallery::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.overlay {
  pointer-events: none; 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 2000; 
  align-items: center;
  justify-content: center;
}

.overlay.active {
  display: flex;
  pointer-events: all; /* Add this */
  display: flex;
}

.overlay .prev,
.overlay .next {
    display: none;
}

/* Über mich Section */
.about-me {
  margin: 8.88rem 2.62rem 0rem 2.08rem;
  padding-right: 20px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  /* Add other tablet-specific styles here */
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Hero Section */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .image-grid div {
    margin: 0;
  }

  .overlay .prev,
  .overlay .next {
      display: block;
  }

  /* Add other desktop-specific styles here */
}
