/* ==============================
   GLOBAL STYLES
   ============================== */

:root {
  --primary-color: #ffffff;
  --secondary-color: #010000;
  --hover-color: #333;

  /* Defined standardized margins and paddings */
  --default-margin: 3rem;
  --small-margin: 1rem;
  --medium-margin: 2rem;
  --large-margin: 4rem;

  --default-padding: 3rem;
  --small-padding: 1rem;
  --medium-padding: 2rem;
  --large-padding: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--hover-color);
}

/* ==============================
   HEADER STYLES
   ============================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-padding) var(--medium-padding) 0.1rem
    var(--medium-padding);
  background-color: var(--secondary-color);
}

.logo img {
  height: 51px;
  width: 57.11px;
}

.hamburger-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-nav {
  display: none;
  gap: 20px;
}

.menu-dropdown {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(1, 0, 0, 0.95);
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-content a {
  padding: 10px 15px;
  color: var(--primary-color);
  font-size: 2.8125rem;
  text-align: center;
  width: 100%;
}

.menu-content a:hover {
  background-color: var(--hover-color);
}

.close-menu img {
  position: absolute;
  top: 1.98rem;
  right: 2.17rem;
  font-size: 2.5rem;
  padding-right: 10px;
}

.menu-dropdown.open {
  display: flex;
}

/* ==============================
   HOME STYLES
   ============================== */

.hero {
  margin: 0 var(--medium-margin);
  padding: var(--large-padding) 0 0 0;
}

.section-title {
  text-align: left;
  color: var(--primary-color);
  font-size: 2.8125rem;
  font-weight: 300;
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -1.19rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
}

.image-grid {
  display: flex;
  justify-content: center;
  margin: 2.25rem 0rem 0rem 0rem;
  gap: 0.62rem;
}

.image-grid img {
  max-width: 100%;
  height: auto;
}

/* Portfolio Section */
.portfolio {
  padding-bottom: 8rem;
  margin-left: 0.8rem;
}

.portfolio h2 {
  display: none;
}

.portfolio p {
  margin: 2rem 2rem 0rem 1rem;
  text-align: left;
}

.portfolio p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* ==============================
   MEINE ARBEITEN STYLES
   ============================== */

.meine-arbeit {
  margin: 0rem var(--medium-margin);
  padding: var(--medium-padding) 0 var(--large-padding) 0;
}

.work-description p {
  display: none;
}

.artwork-gallery {
  display: flex;
  overflow-x: scroll;
  gap: 5px;
  margin: 3rem 0rem 0rem 0rem;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

.artwork-gallery::-webkit-scrollbar {
  height: 5px;
}

.artwork-gallery::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.artwork-gallery::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  align-items: center;
  justify-content: center;
}

.overlay.active {
  display: flex;
  pointer-events: all; /* Add this */
  display: flex;
}

.overlay .prev,
.overlay .next {
  display: none;
}

.close-menu-overlay {
  margin: 0;
  padding: 0;
  border: none;
}

.close-menu-overlay img {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
}

.artwork-display {
  width: 250px; 
  min-width: 250px; 
  height: 458px; 
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;  /* This will hide any overflow of the image */
}

.artwork-display img {
  width: 100%;
  height: 450px;  /* This sets the height of the image */
  object-fit: cover;  /* This will make the image cover its container, cropping as necessary */
}

.artwork-display h3 {
  padding-top: 2rem;
  padding-left: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
}

.artwork-display p {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.2rem;
  font-size: 1rem;
  font-weight: 300;
}

/* ==============================
   ÜBER MICH - ABOUT ME STYLES
   ============================== */

#about-me {
  padding: 0rem 0 var(--large-padding) 0;
}

.about-me-content {
  margin: var(--large-margin) var(--medium-margin) 0 var(--medium-margin);
  padding: var(--medium-padding) 0 0 0;
}

.about-me-text {
  margin: 2.25rem 2.44rem 0rem 0rem;
  text-align: left;
}

.about-me-text p {
  padding: 2rem 0rem 0rem 0rem;
}

.about-me-text p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* ==============================
   MEINE EVENTS STYLES
   ============================== */

.events-content {
  margin: var(--large-margin) var(--medium-margin) 0 var(--medium-margin);
  padding: var(--medium-padding) 0 var(--medium-padding) 0;
}

.events-grid {
  margin-top: 2.25rem;
  display: grid;
  gap: 2rem; /* Adjust as needed for spacing between cards */
  padding: 1rem 0;
  margin-bottom: 1rem;
}

/* For Mobile: Single column layout */
.event {
  border: 1px solid black; /* Add a border for clarity, remove if not needed */
  padding: 0rem;
  border-radius: 8px; /* Rounded edges for the card, adjust as needed */
  text-align: left;
}

.event h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.event p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* ==============================
   KONTAKT STYLES
   ============================== */

.left-column img {
  display: none;
}

.middle-column {
  display: none;
}

.contact-section {
  margin: var(--large-padding) var(--medium-margin) 0 var(--medium-margin);
  padding-top: var(--medium-padding);
}

.contact-card {
  display: flex;
  align-items: center; /* This vertically centers the icon with the text */
  gap: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.contact-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.contact-text h3,
.contact-text p {
  margin: 0; /* Remove default margins */
  line-height: 1.4; /* Adjust for better spacing if needed */
}

.contact-text p {
  margin-top: 5px; /* Adds some spacing between the title and the info */
}

/* Screen height */
#kontakt {
  margin-top: 5rem;
  padding: 0rem 0 20rem 0;
}

/* Text size control */
.right-column {
  margin-top: 4rem;
  padding-right: 2rem;
}

.contact-card h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.contact-card p {
  font-size: 1.2rem;
  font-weight: 300;
}

.contact-icon {
  width: 2.5rem; /* Adjusted size */
  height: 2.5rem; /* Adjusted size */
  flex-shrink: 0;
}

/* Responsive Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .desktop-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .image-grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    padding: 0;
  }

  .image-grid > div:first-child {
    margin-right: -0.3rem;  /* Adjust based on spacing in UI */
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Hero Section */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .image-grid div {
    margin: 0;
  }

  .overlay .prev,
  .overlay .next {
    display: block;
  }

  .events-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .event-title,
  .event-location,
  .event-date {
    display: inline-block;
    margin-right: 1rem;
  }
  /* Add other desktop-specific styles here */
}
